<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_data</title>
</head>
<body>
    <form action="{{ url_for('data_data') }}" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Input Data: </td>
                    <td><input type="text" placeholder="data to be added" name = 'inputData'></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="submit"></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html><!DOCTYPE html>